body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom,grey, black);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;
}
.Dheader {
    background-color: white;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 20%;
    border: 2px solid black;
}
.Dmenu {
    background-color: white;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 75%;
    border: 2px solid black;
    height: 550px;
    overflow: scroll;
}
#search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    float: left;
}
#searchBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
#divination {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}