body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
    height: auto;
    border: 2px solid black;
    box-shadow: 10px 10px 5px grey;
}
h1,h2{
    text-align: center;
}
input{ 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}
input[type="button"], input[type="submit"]{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}